<%# <% <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>


<%= link_to "Rejouer", new_path %>

<div class="container">
  <h1>Résultat</h1>

  <% if @included && @valid_word %>
    <p><strong>Félicitations !</strong> "<%= @word %>" Bien joué !</p>
  <% elsif !@included %>
    <p>Le mot "<%= @word %>" ne peut pas être formé à partir des lettres de la grille.</p>
  <% else %>
    <p>Le mot "<%= @word %>" est valide d'après la grille, mais ce n'est pas un mot valide dans le dictionnaire anglais.</p>
  <% end %>

  <%= link_to "Rejouer", new_path, class: "button" %>
</div>
